<header>
  <nav class="navbar navbar-expand-md navbar-light bg-warning">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
      <div class="navbar-nav ml-auto">
        <% if (!user) { %>
          <form class="form-inline" method="GET" action="/register">
            <button type="submit" class="btn btn-outline-dark my-2 my-sm-0">Register</button>
          </form>
          <span class="navbar-text pr-md-1"></span>
          <form class="form-inline" method="GET" action="/login">
            <button type="submit" class="btn btn-outline-dark my-2 my-sm-0">Login</button>
          </form>
        <% } else { %>
          <span class="navbar-text pr-md-3">Logged In As: <%=user.email%></span>
          <form class="form-inline" method="POST" action="/logout">
            <button type="submit" class="btn btn-outline-dark my-2 my-sm-0">Logout</button>
          </form>
        <% } %>
      </div>
    </div>
  </nav>
</header>